    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="Home" class="navbar-brand">ShareNChat</a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Contact">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" href="">Log Out</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            
            <div class="col-md-6">
                <form [formGroup]="registerForm">
                <div class="row">
                    <div class="col-md-4">
                        <img class="rounded" src="{{registerForm.value.imageUrl}}" name="picture" id="picture">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="fname"><b>First Name</b></label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" formControlName="FName" type="text" placeholder="User" name="fname" id="fname" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="lname"><b>Last Name</b></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="LName" class="form-control" placeholder="user" name="lname" id="lname" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="phone"><b>Phone No.</b></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="phone" class="form-control" placeholder="123123" name="phone" id="phone" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="email"><b>Email</b></label>

                    </div>
                    <div class="col-md-8">
                        <input type="email" formControlName="email" class="form-control" placeholder="user@dummy.com" name="email" id="email"
                            readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="delete"><b>Action</b></label>

                    </div>
                    <div class="col-md-8">
                        <button id="delete" value="delete" name="delete" class="registerbtn" (click)="delete()">Delete Account</button>
                    </div>
                </div>
            </form>
            </div>
        </div>